* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 1%;
    text-align: center;
    background-color: #ac7a30b5;
}

button {
    background-color: rgb(17, 171, 219);
    padding: 1%;
    border: none;
    transition: transform .35s linear;
    margin-top: 2%;
}

button:hover {
    transform: scale(1.1);
}